.partial-content {
  &__btn {
    border: 0;
    margin: 0 0.3rem;
    background: transparent;
    color: #ccc;
    transition: 0.4s;
    outline-width: 0;

    &:hover {
      color: rgb(139, 138, 138);
      cursor: pointer;
    }
  }

  &__children {
    overflow: hidden;
  }

  &__dots {
    color: #555;
    font-size: 2rem;
    line-height: 0;
    letter-spacing: 1px;
  }
}
