.messages {
  &__new {
    background: #f3f6fb;
  }

  &__title {
    font-size: 2rem;
  }

  &__item {
    border-bottom: 1px solid #ccc;
    padding: 0.5rem 0;
  }

  .highlight {
    color: #19b393;
  }
}
